<!-- <form action="/prehistoric_creatures" method="get">
  <label for="nameFilter">Filter byType:</label>
  <input type="text" name="nameFilter" id="nameFilter">
  <button type="submit">Filter Results</button>
</form> -->

<ul>
  <% creatures.forEach((creature, i) => { %>
    <li> <%= creature.type %>
    </li>
    <img src= '<%= creature.img_url %>'/>
    <form action="/prehistoric_creatures/<%= i %>/?_method=DELETE" method="post">
      <button type="submit">DELETE</button>
    </form>
  <% }) %>
</ul>